.home-page-container
{
    padding: 2rem 6rem;
    min-height: calc(100vh - 107.23px);
    grid-column: 2/3;
    position: relative;
    display: grid;
    grid-template-columns: minmax(60rem, 1fr) 35rem;
    gap: 2rem;
    background-color: var(--background-color);
}

.home-feed-container
{
    min-height: 100%;
    display: flex;
    padding: 1rem 0 25rem 0;
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
    align-items: center;
}

.create-new-post-container
{
    min-height: 15rem;
    height: fit-content;
    width: 60rem;
    padding: 1.6rem;
    border-radius: 8px;
    background-color: var(--pure-white);
    display: flex;
    gap: 1rem;
    border: 1px solid var(--light-grey-2);
}

.create-new-post-container .avatar
{
    background-color: var(--pure-white);
}

.homefeed-controller-container
{
    min-height: 5rem;
    height: fit-content;
    width: 60rem;
    padding: 1.6rem;
    border-radius: 8px;
    background-color: var(--pure-white);
    border: 1px solid var(--light-grey-2);
}

.starting-following-suggestion-header
{
    /* width: 60rem; */
    /* background-color: var(--pure-white); */
}

.user-post
{
    height: fit-content;
    width: 60rem;
    border-radius: 8px;
    background-color: var(--pure-white);
}

.home-suggestion-container
{
    position: sticky;
    top: 12.723rem;
    align-self: flex-start;
    min-height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.whats-happening-container
{
    width: 100%;
    height: fit-content;
    padding:  1rem 2rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--pure-white);
}

.home-suggestion-container hr
{
    width: 100%;
}

.active-contacts-container
{
    width: 100%;
    height: fit-content;
    padding:  1rem 2rem;
    border-radius: 8px;
    text-align: left;
    background-color: var(--pure-white);
}

@media only screen and (max-width:83.4375em){
    .home-page-container
    {
        grid-template-columns: 1fr;
    }

    .home-suggestion-container
    {
        display: none;
    }
}

@media only screen and (max-width:63.4375em){
    .home-page-container
    {
        min-height: calc(100vh - 157.23px);
    }
}

@media only screen and (max-width: 60.625em)
{
    .user-post, .create-new-post-container, .homefeed-controller-container
    {
        width: 50rem;
    }
}

@media only screen and (max-width: 54.375em)
{
    .user-post, .create-new-post-container, .homefeed-controller-container
    {
        width: 40rem;
    }
}

@media only screen and (max-width: 48.125em)
{
    .user-post, .create-new-post-container, .homefeed-controller-container
    {
        width: 35rem;
    }
}