.edit-post-modal-container
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--zindex-edit-post-modal);
    display: flex;
    align-items: center;
    background-color: var(--modal-background);
}

.edit-post-modal
{
    position: relative;
    margin: auto;
    width: 50rem;
    height: 47.7rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px -5px var(--dark-grey-2);
}

.edit-post-modal-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.close-edit-modal-btn
{
    position: absolute;
    right: 2rem;
    background-color: var(--background-color);
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.close-edit-modal-btn:hover
{
    background-color: var(--modal-background);
}

.close-edit-modal-btn-icon
{
    font-size: 25px;
    color: var(--dark-grey);
}

.edit-post-header-container
{
    width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.edit-post-header-container h3
{
    margin: 0 2rem;
}

.updated-post-content-container
{
    height: 28rem;
    max-height: 28rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    overflow-y: scroll;
}

.updated-post-content-container::-webkit-scrollbar, .updated-text-content::-webkit-scrollbar
{
    width: 2rem;
    height: 1em;
}
  
.updated-post-content-container::-webkit-scrollbar-track, .updated-text-content::-webkit-scrollbar-track 
{
    padding: 4px;
    background: var(--white);
}
  
.updated-post-content-container::-webkit-scrollbar-thumb, .updated-text-content::-webkit-scrollbar-thumb
{
    background-color: var(--grey);
    border: 5px solid transparent;
    border-radius: 1.5rem;
    background-clip: content-box;
}

.updated-text-content
{
    text-align: left;
    outline: none;
    height: 22rem;
    resize: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 16px;
    padding-top: 2rem;
}

.add-to-post-options-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem 1rem 2rem;
    padding: 0 1rem;
    gap: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}

.edit-post-save-btn
{
    justify-self: flex-end;
    margin: auto 2rem 2rem 2rem;
}