.messages-page-container
{
    padding: 2rem 6rem;
    min-height: calc(100vh - 107.23px);
    grid-column: 2/3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: var(--pure-white);
    background-color: var(--dark-grey);
}

.messages-page-container svg
{
    height: 400px;
}

@media only screen and (max-width:83.4375em){
    .messages-page-container
    {
        grid-template-columns: 1fr;
    }

    .messages-suggestion-container
    {
        display: none;
    }
}

@media only screen and (max-width:63.4375em){
    .messages-page-container
    {
        min-height: calc(100vh - 157.23px);
    }
}
