.user-post
{
    position: relative;
    box-shadow: 0 0 0px 1px var(--light-grey);
}

.user-post hr
{
    color:var(--light-grey); 
    border-style:solid;
}

.user-post-header
{
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-post-header .icon-btn
{
    width: 3.0rem;
    height: 3.0rem;
    padding: 0;
    margin: 0 1rem;
}

.post-header-left-container, .active-connections-header-container
{
    width: fit-content;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.post-header-left-container .avatar
{
    background-color: var(--pure-white);
}

.post-header-left-container h3
{
    margin: 0 2rem;
}

.post-header-right-container
{
    width: fit-content;
    display: flex;
}

.userpost-more-options-btn 
{
    color: var(--dark-grey-2);
    background-color: var(--background-color);
    background-position: center;
    transition: background 0.5s;
}

.userpost-more-options-btn:hover 
{
    background: var(--background-color)
                radial-gradient(circle, transparent 1%, 
                                    var(--background-color) 1%) center/15000%;
}

.userpost-more-options-btn:active 
{
    background-color: var(--background-color);
    background-size: 100%;
    transition: background 0s;
}

.post-more-options-container
{
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 30rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
    box-shadow: 0 0 1px var(--pure-black);
    overflow: hidden;
}

.post-more-options
{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.post-more-options:hover
{
    background-color: var(--background-color);
}

.post-more-options-icons
{
    width: 2.5rem;
    height: 2.5rem;
}

.post-more-options p
{
    margin: 0;
    flex-grow: 1;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
}

.post-caption
{
    text-align: left;
    line-height: 3.6rem;
    padding: 5px 2.6rem 0 2.6rem;
    margin: 0;
    white-space: pre-line;
}

.post-see-more-text
{
    cursor: pointer;
}

.post-see-more-text:hover
{
    text-decoration: underline;
}

.post-img-container
{
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.post-img
{
    max-width: 35rem;
    max-height: 40rem;
    align-self: center;
}

.post-stats
{
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}

.post-stats-left-container
{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.user-post-icon-container
{
    padding: 6px;
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--like-btn-blue);
}

.user-post-reaction-icons
{
    color: var(--white);
}

.post-stats-left-container p
{
    margin-left: 1rem;
}

.post-stats-right-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 10px;
}

.post-options
{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.post-options .post-options-bottom-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: calc(100%/3);
    min-width: fit-content;
    margin: 0;
    /* flex-grow: 1; */
}

.post-options-button-icons
{
    font-size: 2rem;
}

.post-liked
{
    color: var(--like-btn-blue)
}