@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root
{
    --dark-grey     : #2F4858;
    --dark-grey-2   : #282c34;
    --royal-blue    : #29517C;
    --sky-blue      : #0e7490;
    --like-btn-blue : #3b5998;
    --bluish-white  : #f6f6f6;
    --bluish-white-2: #f0f2f5;
    --pure-white    : white;
    --pure-black    : black;
    --red-color     : #ca0e1d;
    --background-color-dull-yellow: #e0e0d4;
    --yellow-background-color     : #efe6e1;
    --light-grey    : #e4e6eb;
    --dull-grey     : #8f8f8f;
    --modal-background: #f3f3f3a2;
    --zindex-emoji-picker : 5; 
    --zindex-homefeed-sort-dropdown: 6;
    --zindex-edit-post-modal: 8;
    --zindex-edit-profile-modal: 8,
    --zindex-toast  : 10;
    --zindex-navbar : 15;
}

html
{
    font-family: 'Comfortaa', cursive;
    background-color: var(--background-color);
}

body
{
    z-index: 2;
    font-family: 'Comfortaa', cursive;
}

html, body
{
    height: auto;
    background-color: white;
}

.App {
    min-height: 100%;
    text-align: center;
    background-color: white;
    font-family: 'Comfortaa', cursive;
}

*::-webkit-scrollbar 
{
    height: 1em;
}
  
*::-webkit-scrollbar-track 
{
    background: var(--light-grey);
}
  
*::-webkit-scrollbar-thumb 
{
    background: var(--sky-blue);
}

a::after
{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: var(--dark-blue-color);
}

a:hover::after
{
    width: 0;
}

hr
{
    width: 100%;
}

.page-container
{
    min-height: calc(100vh - 107.23px);
    display: grid;
    grid-template-columns: 25rem 1fr;
}

@media only screen and (max-width:63.4375em){
    .page-container
    {
        min-height: calc(100vh - 157.23px);
        height: 100vh;
    }
}

.status-badge-2x
{
    box-shadow: 0 0 0 3px var(--pure-white);
}

.status-badge-x
{
    box-shadow: 0 0 0 2px var(--pure-white);
}

.emoji-container
{
    position: relative;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.emoji-container:hover
{
    background-color: var(--grey);
}

.emoji-picker-container
{
    position: absolute;
    right: 1rem;
}

.emoji-container svg
{
    font-size: 2rem;
}
.emoji-container aside
{
  z-index: var(--zindex-emoji-picker);
}

.emoji-container aside nav
{
  min-width: 27.8rem;
  background-image: none;
}